.env
.venv
.DS_Store
model.env
point_model.env
orchestrator.env
__pycache__
*.md
*.json
!data/dialogues/transcript-1_transcript.json
!data/dialogues/transcript-2_transcript.json
!data/dialogues/transcript-3_transcript.json
!data/dialogues/transcript-4_transcript.json
*.docx
video/
data/benchmark/*
!data/benchmark/benchmark_cases.yaml

data/point_agents/*
!data/point_agents/point_agents_prompts.yaml

log*
*.log
old_arch/
evaluation_ANLI/generated/
