TEMPLATE_PATH=data/evidence_prompt.yaml
DIALOGUE_INPUT_PATH=
TEST_DIALOGUE_PATH=data/test_dialogue.yaml
LLM_RESPONSE_PATH=data/simple_model/simple_model_response.json


CRETERIONS_PATH=creterions/AsksQuestionsEffectively.yaml
API_KEY=
DEEPSEEK_MODEL=deepseek-chat
DEEPSEEK_BASE_URL=https://api.deepseek.com
EVALUATED_SPEAKER=B
