DIALOGUE_INPUT_PATH=
TEST_DIALOGUE_PATH=data/test_dialogue.yaml
LLM_RESPONSE_PATH=data/simple_model/simple_model_response.json
API_KEY=
MODEL_NAME=deepseek-chat
BASE_URL=https://api.deepseek.com
TEMPERATURE=0
MAX_TOKENS=4096
TOP_P=
TOP_K=
THINKING_MODE=none
RESPONSE_MAX_RETRIES=3
REQUEST_TIMEOUT=120
CASE_TIMEOUT=150
